@import url("https://fonts.googleapis.com/css2?family=Slackey&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: url(../images/bg.jpg);
}

h1 {
  position: absolute;
  top: 4%;
  width: 100%;

  font-family: "Slackey", "Open Sans", cursive;
  font-size: 3.2em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff,
    3px 3px 0 #fff;
  color: #1a0f6d;
}

.wrapper {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  border: 3px solid #1a0f6d;
  background-color: #1a0f6d;
}

.game-details {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #b8c6dc;
}

.play-board {
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
  width: 65vmin;
  height: 65vmin;
  /* background-color: #edf5fa; */
  background-color: #d1ecfd;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.play-board .food {
  width: 95%;
  height: 95%;
  background-color: red;
}

.play-board .head {
  /* background-color: #60cbff; */
  background-color: #5c7cf9;
}

.game-over-box {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  background-color: #00000080;
}

.game-over-text {
  font-size: 4vmin;
  color: #e3f2fd;
  text-transform: uppercase;
}

.music-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.music-toggle img {
  width: 50px;
  height: 50px;
}
